<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Economía en tus manos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <body>
    <h1>Economía en tus manos</h1>
    <h4>El newsletter sobre Economía y finanzas, estamos aqui para compartir</h4>
    <ul>
      <li class="botones"><a href="/login">Iniciar Sesión</a></li>
      <li class="botones"><a href="/register">Registrarse</a></li>
      <li class="botones"><a href="/index">Entrar como Invitado</a></li>
      <li class="botones"><a href="/admin/upload_article">Subir articulo</a></li>
    </ul>
    
  </body>
</html>
